body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

.dark-theme .card {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-theme .nav-wrapper {
    background-color: #333333;
}

.dark-theme .btn-source {
    background-color: #444444;
    color: #ffffff;
}
