<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Currencies Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Currencies Site</a>
        <button id="theme-toggle" class="btn btn-dark-theme">Сменить тему</button>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // JavaScript для переключения темы
        document.getElementById('theme-toggle').addEventListener('click', () => {
            const body = document.body;
            body.classList.toggle('dark-theme');

            if (body.classList.contains('dark-theme')) {
                localStorage.setItem('theme', 'dark');
            } else {
                localStorage.setItem('theme', 'light');
            }

            const ratesTable = document.getElementById('rates-table');
            if (ratesTable) {
                ratesTable.classList.toggle('table-dark');
            }
        });

        document.addEventListener('DOMContentLoaded', () => {
            const body = document.body;
            if (localStorage.getItem('theme') === 'dark') {
                body.classList.add('dark-theme');
                const ratesTable = document.getElementById('rates-table');
                if (ratesTable) {
                    ratesTable.classList.add('table-dark');
                }
            }
        });
    </script>
</body>
</html>
